[submodule "facebook-ios-sdk"]
	path = iOS/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "iOS/MGTwitterEngine"]
	path = iOS/MGTwitterEngine
	url = https://github.com/mattgemmell/MGTwitterEngine.git
